:root {
    --no-rainbow: #5e5e5e;
    --rainbow5: #7B5B69;
    --rainbow4: #DFB200;
    --rainbow8: #C94A14;
    --rainbow1: #BE1515;
    --rainbow9: #558080;
    --rainbow2: #36608B;
    --rainbow6: #767C5E;
    --rainbow7: #2513C8;
    --rainbow3: #6251F5;
    --color-ok: #2a9d8f;
    --color-warn: #e9c46a;
    --color-err: #e76f51;
    --color-unk: #ffe8d6;
}

.swgVersion {
    background-color: var(--mono-tint3);
    color: var(--heading-color);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    font-size: var(--font-size-s);
    vertical-align: top;
    margin-top: 10px;
}

.swgVerb {
    font-family: var(--code-font-family);
    color: var(--heading-color);
    padding-left: 8px;
    padding-right: 8px;
    display: inline-block;
    /*border-radius: 5px;*/
    border-color: var(--rainbow9);
    border-width: 1px;
    border-style: groove;
    border-right: none;
    width: 5em;
    text-align: center;
}

.swgUrl {
    font-family: var(--code-font-family);
    background-color: transparent;
    padding-left: 10px;
    display: inline-block;
    width: 43em;
    border-width: 1px;
    border-style: groove;
    border-color: var(--rainbow9);
    border-left: none;
}

.swgParagraphH1 {
    color: var(--heading-color);
}

.swgParagraphH2 {
    color: var(--heading-color);
}

.swgBug {
    background-color: var(--mono-tint3);
    color: var(--heading-color);
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    font-size: var(--font-size-s);
    vertical-align: top;
    margin-top: 10px;
}

.swgResponseUnk {
    color: var(--color-unk);
}

.swgResponseWarn {
    color: var(--color-warn);
}

.swgResponseErr {
    color: var(--color-err);
}

.swgResponseInfo {
    color: var(--color-ok);
}